[submodule "d3-timeline"]
	path = skiexample/output/d3-workflow-timeline
	url = https://github.com/d3-workflow-timeline.git
[submodule "hugo-compose-theme"]
	path = docs/themes/compose
	url = https://github.com/onweru/compose/
